<!--<app-warning  *ngIf="!isConnected"></app-warning>-->
<!--<app-success *ngIf="isConnected"></app-success>-->
<!--<button (click)="Connect()">Connect</button>-->
<!--<button (click)="Disconnect()">Disconnect</button>-->
<!--<app-students *ngIf="isConnected"></app-students>-->

<!--<input type="text" [(ngModel)]="textValue" >-->
<!--<button [disabled]="isButtonDisabled">Click me</button>-->
<!--<button (click)="toggleDisable()">toggle disable</button>-->
<!--<div [innerHTML]="innerTextHtml" ></div>-->
<!--<p>{{textValue}}</p>-->
<!--<h2>exercice</h2>-->
<!--<input type="text" [(ngModel)]="username">-->
<!--<p>{{username}}</p>-->
<!--<button [disabled]="isDisabled()" (click)="Reset()">Reset</button>-->

<div class="container">
  <div class="row">
    <div class="col-6">
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="text" class="form-control" id="nameInput" placeholder="Enter name" [(ngModel)]="nameInput">
        </div>
        <div class="form-group">
          <label for="ageInput">Age</label>
          <input type="number" class="form-control" id="ageInput" [(ngModel)]="ageInput" placeholder="Enter age">
        </div>
        <div class="form-group">
          <label for="moyInput">Moy</label>
          <input type="number" class="form-control" id="moyInput" [(ngModel)]="moyInput" placeholder="Enter moy">
        </div>
        <button class="btn btn-primary" (click)="addStudent()" [disabled]="isAddButtonDisabled()">Add</button>
    </div>
    <div class="col-6">
      <div class="container-fluid">
        <div *ngFor="let student of students" class="row">
          <div class="col-8">
            <p>{{student.name}}</p>
            <small>{{student.age}}</small>
          </div>
          <div class="col-4">
            <p>{{student.moy}}</p>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
