<!--<app-warning  *ngIf="!isConnected"></app-warning>-->
<!--<app-success *ngIf="isConnected"></app-success>-->
<!--<button (click)="Connect()">Connect</button>-->
<!--<button (click)="Disconnect()">Disconnect</button>-->
<!--<app-students *ngIf="isConnected"></app-students>-->

<!--<input type="text" [(ngModel)]="textValue" >-->
<!--<button [disabled]="isButtonDisabled">Click me</button>-->
<!--<button (click)="toggleDisable()">toggle disable</button>-->
<!--<div [innerHTML]="innerTextHtml" ></div>-->
<!--<p>{{textValue}}</p>-->
<!--<h2>exercice</h2>-->
<!--<input type="text" [(ngModel)]="username">-->
<!--<p>{{username}}</p>-->
<!--<button [disabled]="isDisabled()" (click)="Reset()">Reset</button>-->

<div class="container">
  <div class="row">
    <div class="col-6">
      <app-student-toolbar (onStudentAdd)="studentAdd($event)"></app-student-toolbar>
    </div>
    <div class="col-6">
      <div class="container-fluid">
        <div  class="row">
           <div *ngFor="let student of students;let i = index" class="col-6">
             <p>{{i}}</p>
             <app-student-element [std]="student"></app-student-element>
           </div>
        </div>


      </div>

    </div>
  </div>
</div>
